@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container{
    margin: 40px auto;
}

header{
    background-color: rgb(11, 11, 54);
    height: 65px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 100px;
    margin-left: 70px;
}

.logo h5{
    color: white;
    margin-left: 25px;
    margin-bottom: 25px;
}

.menu img{
    margin-bottom: 40px;
    margin-right: 50px;
    height: 20px;
    width: 40px;
}

.content{
    margin-top: 80px;
    color: rgb(22, 83, 114);
}

.card{
    border-color: transparent;
    border: none !important;
    background-color: #fdd07d !important;
    transition: all 0.2s ease; 
}  

.card:hover{
   transform: translateY(-5px);
}

main{
    margin-top: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

main div{
    border-radius: 5px;
}

.form-control{
    width: 25%;
}


@media only screen and (max-width: 480px) {
    .container{
        margin: 10px auto;
    }
    header{
        background-color: rgb(11, 11, 54);
        height: 30px;
    }
    .logo img{
        width: 40px;
        height: 55px;
        margin-left: 20px;
        margin-bottom:30px;
    }
    .logo h5{
        color: white;
        margin-left: 5px;
        margin-bottom: 50px;
        font-size: 10px;
    }
    .menu img{
        margin-bottom: 55px;
        margin-right: 20px;
        height: 10px;
        width: 20px;
    }
    .content{
        margin-top: 40px;
        color: rgb(22, 83, 114);
    }

    main{
        margin-top: 50px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        width: auto;
    }

    .card h1{
        font-size: large;
    }
    .card p{
        font-size: x-small;
    }
    .form-group label{
        font-size: small;    
    }
    .form-control{
        width: 55%;
    }
    .chart{
        width: 100% !important;
    }

}
@media only screen and (max-width: 800px) {}